extends layout

block content
  h1= "TEST  TECHNIQUE NOBO, BELLAKHAL MOHAMED "
  //- p Welcome to #{title}
  p Welcome to My NOBO technical test express app , Program 2
  body
      form(action = "/api/p2", method = "POST")
         div
            label(for = "date1") Input date_start
            input(name = "date1" value = "")
         br
         div
            label(for = "date2") Input date_end
            input(name = "date2" value = "")
         br
         button(type = "submit") Submit values 
