extends layout

block content
  h1= "TEST  TECHNIQUE NOBO, BELLAKHAL MOHAMED "
  //- p Welcome to #{title}
  p Welcome to My NOBO technical test express app
  p To see the solution of the first program, click Programme 1
  p To see the solution of the first program, click Programme 2
  body
      a(href='/api/p1' type='button')  Programme 1
      

